/* external style sheet */

h3 {
  color: orangered;
}
body {
  background-color: rgb(228, 177, 83);
}

h1{
  color: rgb(252, 1, 155);
  text-align: center;
  font-size: 60px;
}

h2{
  color: rgb(220, 138, 176); 
  text-align: center; 
  font-size: 42;
}

footer{
  background-color: orangered;
}
  
footer h2{
  color: rgb(236, 229, 110);
}

nav ul li a {
  color: white;
}

nav ul {
  list-style: none;
}

img {
  width: 250px;
  height: auto;
}
section {
  display: inline-block;
  width: 30%;
}

nav {
  text-align: center;
}

p img {
  display: inline-block;
  width: 40%;
}

#kitten-photo {
  width: 100px;
}

