/* external style sheet */
h3 {
  color: orangered;
}

section {
  background-color: rgb(236, 229, 110);
}

h1{
  color: rgb(252, 1, 155);
}

h2{
  color: rgb(220, 138, 176);  
}

footer{
  background-color: goldenrod;
}
  
footer h2{
  color:orangered;
}

nav ul li a {
  color: white;
}

nav ul {
  list-style: none;
}